<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Theme Made By www.w3schools.com -->
        <title>Resume Parser and Analyser</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="../static/style.css" rel="stylesheet"/>
        <script>
            window.onload = function () {
                /*data = [{ y: 300878, label: "Venezuela" },
                        { y: 266455,  label: "Saudi" },
                        { y: 169709,  label: "Canada" },
                        { y: 158400,  label: "Iran" },
                        { y: 142503,  label: "Iraq" },
                        { y: 101500, label: "Kuwait" },
                        { y: 97800,  label: "UAE" },
                        { y: 80000,  label: "Russia" }] */
                
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title:{
                    text: "Skills List"
                },
                axisY: {
                    title: "No of people"
                },
                data: [{        
                    type: "column",  
                    showInLegend: true, 
                    legendMarkerColor: "grey",
                    legendText: "Skills",
                    dataPoints: [ {% for key,value in skills_freq.items() %}
                                { y: {{value}}, label: "{{key}}"},
                                {% endfor %}
                            ]
                }]
            });
            chart.render();
            }
        </script>
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://127.0.0.1:5000">Home</a></li>
                        <li><a href="http://127.0.0.1:5000/recruiterSummary">Summary</a></li>
                        <li><a href="http://127.0.0.1:5000/recruiterGraph">Knowledge Graph</a></li>
                        <li><a href="http://127.0.0.1:5000/recruiterJob">Data Analysis</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="about" class="container-fluid">
            <div class="row">
                <div>
                    <h2>Skills Graph</h2><br>
                </div>
                <br><br>
                <div id="chartContainer" style="height: 370px; width: 70%;"></div>
            </div>
        </div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
</html>
