<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Theme Made By www.w3schools.com -->
        <title>Resume Parser and Analyser</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="../static/style.css" rel="stylesheet" />
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <div class="jumbotron text-center">
            <h3>Drag and drop your resume.</h3> 
        </div>

        <div class="container">
            <div class="row">
               <div>
                  <form method="post" action="http://127.0.0.1:5000/studentdashboard" enctype="multipart/form-data">
                      <div class="form-group files color">
                        <label> Upload Your File </label>
                        <input type="file" name="resume" id="resume" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-light" style="margin-left: 45%;">Upload</button>
                  </form>
              </div>
            </div>
        </div>
    </body>
</html>
