<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Theme Made By www.w3schools.com -->
        <title>Resume Parser and Analyser</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="../static/style.css" rel="stylesheet" />
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://127.0.0.1:5000">Home</a></li>
                        <li><a href="http://127.0.0.1:5000/studentSummary">Summary</a></li>
                        <li><a href="http://127.0.0.1:5000/studentGraph">Knowledge Graph</a></li>
                        <li><a href="http://127.0.0.1:5000/studentJob">Job Recommendation</a></li>
                    </ul>
                </div>
            </div>
            </nav>

            <div id="about" class="container-fluid">
                <div class="row">
                    <div>
                    <h2>Job Recommendation</h2><br>
                    <p> Our CNN based model takes your work experience into account,and decides what job 
                        is well suited for you. The model is fed with about 10,000 rows of job-roles and its
                        requirments taken from <span style="color: blue;">Naukri.com</span>. Have a great time exploring about your possible future profession!
                    </p>
                    </div>
                    <br><br>
                    <div align="center">
                        <p style="font-size: medium;">
                            The well suited job for your resume as per our AI intelligence is:
                            <span style="font-size: large;color:red;">{{job}}</span>
                        </p>
                    </div>
                    </div>
                </div>
                </div>
    </body>
</html>
